* body{
    background-image: url('../fon_images/business_fon.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

.row{
    margin-top: 30px;
}

.card-title{
    font-size: 25px;
    color: #3f636c;
}

.card-body{
    border-radius: 8px;
    -webkit-box-shadow: -1px -7px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: -1px -7px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: -1px -7px 8px 0px rgba(34, 60, 80, 0.2);
}

.p-3{
    border-radius: 10px;
}

.answer{
    font-size: 50px;
    margin-top: 200px;
    color: white;
    text-align: center;
    -webkit-text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.5);
    -moz-text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.5);
    text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.5);
}
.box{
    width: 600px;
    margin: auto auto 50px;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.form-label{
    font-size: 25px;
    font-weight: bold;
}

.col-5{
    margin-top: 25px;
}

.main-title-home{
    padding-top: 25px;
    margin-top: 10px;
    font-size: 40px;
}

.state_select{
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 25px;
    color: #6c6c6c;
    text-shadow: 2px 2px 1px white;
}

.btn{
    font-size: 25px;
    margin-bottom: 30px;
    padding: 0.7rem 2.5rem;
    border-radius: 2.25rem;
}

.info-item{
    text-decoration-line: none;
    margin-top: 60px;
    font-size: 30px;
    color: grey;
}

body {

    margin-top: 60px;
}

.navbar {
    display: block;
    background: #532e28;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 0;
    box-sizing: border-box;
    padding: 7px 30px;
    margin-bottom: 100px;
}

.a.navbar-link{
    padding-left: 60px;
}
.menu {
    font-size: 14px;
    line-height: 1;
    padding: 0;
    margin: 0;
    display: inline-block;
    color: #fffee8;
}

.menu li {
    display: inline-block;
}

.menu a {
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 26px 30px;
}

.menu a:hover {
    color: #bbd6dc;
}
